 /* Navigation bar  */

.navbar-nav .nav-link:hover {
    text-decoration: underline 1px solid var(--bs-navbar-hover-color);  
    text-underline-offset: 8px;
 }

 .navbar-brand {
    background:linear-gradient(90deg, #A090B0 0%, #f1ba82 100%);
    border-radius: 15px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 24px;
    font-weight: 600;
}
